#root {
  /* max-width: 100vw; */
  overflow-x: hidden; 
  overflow-y: hidden;
}

.heading{
  text-align: center;
}

.card-container{
  display: flex;
  /* flex-wrap: wrap; */
  padding: 10px;
}

.card {
  height: 280px;
  width: 400px;
  margin: 8px;
  padding: 5px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover{
  box-shadow: 2px 3px 5px rgb(247 171 10 /80);
  transform: scale(1.03);
  border-color: rgb(247 171 10);
}

.modalWrapper{
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.9);
}

.modal{
  height: 350px;
  width: 500px;
  background-color: #242424;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalInstruction{
  position: absolute;
  color: black;
  bottom: 5px;
  right: 40px;
}